---
//src\components\Header.astro
import Navigation from "./Navigation.astro";
import ToggleTheme from "./ToggleTheme.astro";
---

<header class="bg-blue-600 text-white p-4">
    <h2>header</h2>
</header>